/* Color Swatch ----------------------------------
	Gold			#FFD700
	Dark Red		#8B0000
	Dark Grey		#A9A9A9
	Medium Blue		#0000CD
------------------------------------------------*/


body{
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	font-size: 100%;
	line-height: 1.5;
	font-family: "bank gothic", avant garde, arial;
	background-image: url(../images/bauer_background.jpg);
	background-attachment: fixed;
	background-repeat: repeat-x;
	/*background-image: -moz-radial-gradient(center top, ellipse farthest-corner, 
	#FFFFFF 0%, #002447 100%);*/
}

#wrapper{
	width: 100%; /*900px;*/
	margin: 0%; /*0 auto;*/
	overflow: hidden;
	/*border: 2px dashed #fff;*/
}

	h1{
		font-weight: normal;
		font-size: 2.0625em; /*33px*/
		margin: 0%; /*0;*/
		background-color: #787878; 
		width: 50.555556%; /*455px*/ 
		height: 40px; 
		line-height: 40px;
		text-shadow: 3px 3px 2px #585858;
		float: left;
	}
	
		h2{
			font-size: 1.5em; /*24px*/
			margin: 0%; /*0;*/
			padding: 1.6666667% 1.111111% 0%; /*15px 10px 0;*/
		}
	
			nav{
				font-size: 1.125em; /*18px*/
			}
	
				p{
					font-size: 1em; /*16px*/
				}
	
					li{
						font-size: 1em; /*16px*/
					}
	
						footer{
							font-size: 0.75em; /*12px*/
						}
							

/*---------------------------- Nav Bar--------------------------------*/
/*------nav{
	width: 500px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}--------*/

.nav_bar{
	width: 49.444444%; /*445px*/
	margin: 0%; /*0 auto;*/
	background: #666666;
	list-style-type: none;
	padding: 0%; /*0;*/
	overflow: hidden;
	float: right;
}

.nav_text{
	width: 25%; /*111.25px*/
	background: silver;
	float: left;
}

.nav_a{
	text-decoration: none;
	background: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFD700;
}

.nav_a:hover{
	color: #fff;
	background: #FFD700;
}

/*----------------------------- Middle Section-------------------------------*/


.cta{
	background-image: url(../images/american_flag_faded_wood.png);
	max-width: 100%;
}

.jack{
	margin: 0%; /*0;*/
	padding: 1.666667% 4.444444% 0%; /*15px 40px 0;*/
	/*width: 47.222222%; /*425px*/
	max-width: 100%;
	height: inherit;
	width: inherit;
}

.middle_info{
	width: 100%; /*900px;*/
	/*height: 1500px;/*825px;*/
	/*background-image: url(../images/grad_background.png); opacity: .85;
	background-repeat: repeat-x;*/
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #A9A9A9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0, #FFFFFF), color-stop(1, #A9A9A9));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #A9A9A9 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #A9A9A9 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #A9A9A9 100%);
}

section{
	-moz-column-count: 3;
	-moz-column-gap: 35px;
	-webkit-column-count: 3;
	-webkit-column-gap: 35px;
	-ms-column-count: 3;
	-ms-column-gap: 35px;
	padding: 1.111111%; /*10px;*/
}

h1, h2, p, ol li{
	color: #000000
}

aside{
	overflow: hidden;
}

.pics{
	list-style-type: none;
	margin: 2.222222% auto; /*20px auto;*/
	padding: 1.111111% 0.277778%; /*10px 2.5px;*/
}

.jack_images{
	float: left;
	margin-left: 1.222222%; /*11px;*/
	width: 23.333333%; /*210px;*/
	height: 165px;
	/*box-shadow: 4px 3px 2px #404040;*/
}



/*--------------------------------- Styling Link Info-------------------------------*/

a:link{
	color: #FFD700;
}

a:visited{
	color: #A9A9A9;
}

a:hover{
	color: #8B0000;
}

a:active{
	color: #0000CD;
}

/*-------------------------------- Table Info ----------------------------------*/

table{
	border-collapse: collapse;
	border: 1px solid #000;
}

td{
	border: 1px solid #000;
	padding: 0.6em;
}

th{
	text-align: left;
	background-color: #999;
	color: #fff;
	padding: 0.6em;
}




/*------------------------------- Form Info ------------------------------------*/







/*--------------------------------- Footer Info----------------------------------*/

footer{
	background: #505050; opacity: .5;
	height: 160px;
	margin: 0%; /*0;*/
	padding: 1.6666667% 1.1111111% 0%; /*15px 10px 0;*/
	clear: both;
}

/*.foot_pad{
	float: left;
}*/

.foot_bullet{
	list-style-type: circle;
	color: #fff;
	margin: 1.1111111%; /*10px;*/
}



/*---------------------------------- Media Queries --------------------------------*/

	/*Tablet Portrait size to standard 900 (devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 899px){
	#wrapper{background-color: #00CC00;}
	section{-webkit-column-count: 1;
		-webkit-column-gap: 35px;
		-moz-column-count: 1;
		-moz-column-gap: 35px;
		-ms-column-count: 1;
		-ms-column-gap: 35px;
		padding: 1.111111%; /*10px;*/}
	.nav_bar{float: none; width: inherit;}
	.nav_text{float: none; width: inherit;}
	h1{height: 100%; width: inherit; float: none;}
	footer{height: inherit;}
	.jack_images{float: clear; width: inherit;}
	body{background-image: none;}
	.facts{appearance: none;}
}

	/*Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
	@media only screen and (min-width: 480px) and (max-width: 767px){
	#wrapper{background-color: #FF9900;}
	section{-webkit-column-count: 1;
		-webkit-column-gap: 35px;
		-moz-column-count: 1;
		-moz-column-gap: 35px;
		-ms-column-count: 1;
		-ms-column-gap: 35px;
		padding: 1.111111%; /*10px;*/}
	.nav_bar{float: none; width: inherit;}
	.nav_text{float: none; width: inherit;}
	h1{height: 100%; width: inherit; float: none;}
	footer{height: inherit;}
	.jack_images{float: clear; width: inherit;}
	body{background-image: none;}
}

	/*Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
	@media only screen and (max-width: 479px){
	#wrapper{background-color: #FF0066;}
	section{-webkit-column-count: 1;
		-webkit-column-gap: 35px;
		-moz-column-count: 1;
		-moz-column-gap: 35px;
		-ms-column-count: 1;
		-ms-column-gap: 35px;
		padding: 1.111111%; /*10px;*/}
	.nav_bar{float: none; width: inherit;}
	.nav_text{float: none; width: inherit;}
	h1{height: 100%; width: inherit; float: none; font-size: 1.875em; /*30px*/}
	footer{height: inherit;}
	.jack_images{float: clear; width: inherit;}
	body{background-image: none;}
}